data/

# Node.js:
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Terraform:
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS & IDE-related:
.DS_Store
.idea/
.vscode/

